.toolbar {
  display: flex;
  align-items: center;
}

.toolbar-algorithm-selector {
  margin-left: auto;
}
.toolbar-buttons {
  margin-left: 20px;
}
.toolbar-buttons .button+.button {
  margin-left: 15px;
}

.toolbar-status {
  width: 200px;
  text-align: right;
  margin-left: auto;
}
