.bar-chart {
  width: 80%;
  height: 200px;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: center;

}

.bar {
  background: #1492d9;
  max-width: 20px;
  min-width: 10px;
  border: 1px solid #eee;
}

.bar+.bar {
  margin-left: 1px;
}
