.switchContainer {
  text-align: center;
}
.switchBtn {
  color: #454545;
  font-size: 16px;
  padding: 7px 10px;
  margin-bottom: 10px;
}
.switchBtnActive {
  background: #454545;
  color: white;
}
.switchBtn+.switchBtn {
  margin-left: 10px;
}
